.container {
    display: flex;
    flex-wrap: wrap;
    background-color: #F9F8F9;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.half-width {
    flex: 1;
    width: 50%;
}

.slider {
  width: 100%;
  margin: 0 auto; /* Centra el contenedor horizontalmente */

}

.slider img {
  max-width: 100%;
  height: auto; /* Ajusta la altura automáticamente */
}